.btn-medium {
  color: #999999;
  border: 1px solid green;
  padding: 25px 60px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 12px;
  opacity: 0.6;
  margin: 10px;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
