.wrapper {
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  padding-bottom: 60px;
  border: 1px solid;
}

.name {
  font-size: 40px;
}
.catchphrase {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.buttons {
  margin-top: 30px;
}

.equation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#vocab {
  padding-bottom: 50px;
  padding-top: 50px;
}

.definition {
  width: 50%;
  margin: auto;
}

.calcul {
  font-size: 50px;
}

.icon-equation {
  width: 120px;
  height: 120px;
  margin: 50px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 50%;
}

.process-img {
  border: 1px solid black;
  margin-top: 50px;
  height: 450px;
  background-image: image-url("../../images/aquapo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.process-txt {
  border: 1px solid black;
  margin-top: 50px;
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.para {
  padding: 20px 3px;
}

