.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
}
.name {
  font-size: 40px;
}
.catchphrase {
  font-size: 30px;
}
.fa-arrow-circle-o-down {
  font-size: 50px;
  position: absolute;
  bottom: 10px;
}
.next-section {
  width: 100%;
  margin: 0 -21px;
 }

.projet {

}
.equation {
  width: 100%;
}

#vocab {
}

.definition {
}

.calcul {
  font-size: 50px;
}

.img-ecoponie {
  width: 70%;
}

.process-img {
  height: 450px;
  background-image: image-url("../images/aquapo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.process-txt {
  height: 450px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.para {
}

.partenaires {
}

.partenaires-logo {
  width: 150px;
  height: 150px;
}


