<div class="header-title text-center">
  <h1>Ecoponie</h1>
  <h2>Decouvrez notre projet de recherche et dévelopement</h2>
</div>

<section id="start">
  <div class="column white txt-blue">
    <div class="border">
    <%= image_tag "009-sea-1.png", class: "icon" %>
    </div>
  </div>
  <div class="column blue txt-white">
    <p>Le projet Ecoponie met en oeuvre une symbiode de fonctionnement entre une production acquacole (des crustacés et une production végétale.</p>
  </div>
</section>

<section id="start">
  <div class="column blue txt-white">
    <p class="border">mettre une icone.</p>
  </div>
  <div class="column white txt-blue">
    <p>Cette association, basée sur le principe de bouclage écosystémique, permet une production double et simultanée sur des surfaces artificialisées. Ce projet vise à experimenter cette solution dans un contexte permettant de préciser les conditions de mise oeuvre techniques et économiques recquises pour intégrer cette innovation au panel des pratiques agricoles de la transition écologiue et solidaire.</p>
  </div>
</section>



