---
title: La Ferme du Quartier
---
<div class="wrapper text-center">
  <div class="name">Association la Ferme du Quartier</div>
  <div class="catchphrase">Pour la revalorisation des écosystèmes dans un monde sobre en carbone</div>
  <%= image_tag "banniere_lfdq.png", class: "banner_lfdq_img" %>
  <div class="buttons text-center">
    <%= link_to "Projet Ecoponie", "ecoponie.html", class: "btn-medium" %>
    <%= link_to "Cuisinons le futur", "ecoponie.html", class: "btn-medium" %>
  </div>
</div>

<div class="wrapper text-center">
  <h1>Ecoponie</h1>
  <div id="vocab">
    Ecoponie = <strong>Eco</strong>logie + <strong>Eco</strong>nomique + Acqua<strong>ponie</strong>
  </div>
  <div class="equation">
    <%= image_tag "ecoponie.png", class: "img-ecoponie" %>
  </div>
  <div class="definition">
    Le projet Ecoponie met en oeuvre une symbiode de fonctionnement entre une production acquacole (des crustacés) et une production végétale.
  </div>
</div>


<div class="wrapper text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="process-img">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="process-txt">
          <div class="para">"Le projet Ecoponie met en oeuvre une symbiose de fonctionnement entre une production aquacole de crustacés et une production végétale selon le principe de l'aquaponie.</div>
          <div class="para"> Cette pratique agricole innovante, basée sur le principe de bouclage écosystémique, permet une production double et simultanée sur des surfaces artificialisées.
          </div>
          <div class="para">Ce projet de recherche et développement vise à expérimenter cette solution dans un contexte permettant de préciser les conditions de mise œuvre techniques et économiques requises pour intégrer cette innovation au panel des pratiques agricoles de la transition écologique et solidaire."
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper text-center">
</div>
<div class="wrapper text-center">
</div>




